*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background-color: rgb(255, 255, 255);
  font-family: Arial, Helvetica, sans-serif;
}

.title {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
}

.description {
  width: 90%;
  margin: 1rem auto;
}

.puzzle {
  width: 400px;
  height: 140px;
  position: relative;
  margin: 2rem auto;
  zoom: 2;
}

.tower::before,
.base {
  background-color: rgb(68, 68, 68);
  border: 1px solid #000;
}

.discs div {
  height: 10px;
}

.discs div,
.tower {
  width: 140px;
  position: absolute;
  text-align: center;
}

.tower::before {
  content: "";
  bottom: 0;
  left: 70px;
  width: 10px;
  height: 140px;
  margin: 0 auto;
  display: block;
  border-radius: 3px;
}

.tower0 {
  left: 0;
}

.tower1 {
  left: 120px;
}

.tower2 {
  left: 240px;
}

.level1 {
  bottom: 20px;
}

.level2 {
  bottom: 30px;
}

.level3 {
  bottom: 40px;
}

.level4 {
  bottom: 50px;
}

.level5 {
  bottom: 60px;
}

.level6 {
  bottom: 70px;
}

.level7 {
  bottom: 80px;
}

.level8 {
  bottom: 90px;
}

.level9 {
  bottom: 100px;
}

.level10 {
  bottom: 110px;
}

.base {
  width: 400px;
  height: 20px;
  bottom: 0;
  left: 0;
  position: absolute;
}

.discs div::before {
  border: 1px solid #000;
  border-radius: 3px;
  content: "";
  height: 11px;
  margin: 0 auto;
  display: block;
}

.disc1::before {
  width: 30px;
  background-color: red;
}

.disc2::before {
  width: 40px;
  background-color: orange;
}

.disc3::before {
  width: 50px;
  background-color: yellow;
}

.disc4::before {
  width: 60px;
  background-color: green;
}

.disc5::before {
  width: 70px;
  background-color: blue;
}

.disc6::before {
  width: 80px;
  background-color: indigo;
}

.disc7::before {
  width: 90px;
  background-color: violet;
}

.disc8::before {
  width: 100px;
  background-color: rgb(32, 255, 236);
}

.disc9::before {
  width: 110px;
  background-color: rgb(67, 255, 29);
}

.disc10::before {
  width: 120px;
  background-color: rgb(207, 87, 255);
}

.call-to-action {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}

.call-to-action .solve button {
  color: white;
  background-color: black;
  padding: 6px 12px;
  font-size: 18px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.call-to-action .solve button:hover {
  background-color: rgb(95, 30, 245);
}

.call-to-action .input {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.call-to-action .input input {
  padding: 6px 10px;
  outline: none;
  border: none;
  background-color: rgb(228, 228, 228);
  border-radius: 5px;
}

.call-to-action .input button {
  color: white;
  background-color: rgb(95, 30, 245);
  padding: 6px 12px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.call-to-action .input button:hover {
  background-color: black;
}

/* RESPONSIVE STYLES */

@media only screen and (max-width: 768px) {
  .description {
    width: 90%;
    margin: 1rem auto;
    text-align: center;
  }
  .puzzle {
    width: 200px;
    margin: 3rem 2rem;
    zoom: 0;
  }
  .base {
    width: 300px;
  }

  .discs div,
  .tower {
    width: 65px;
  }

  .call-to-action {
    flex-direction: column;
    gap: 2rem;
  }
}
